

@import url("https://use.typekit.net/pzl5wxf.css");
@import url("https://use.typekit.net/pzl5wxf.css");

body {
    background-color: #f0ebe0;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url(backgroundtexture.jpeg);
    background-size: cover;
    
}

p {
  position: relative;
  font-family: "panel-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

a {
  cursor: pointer;
  color: black;
  text-decoration-line: none;
  font-family: "chandler-42-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}


a:hover {
  font-weight: 800;
}


.date {
    margin: 0;
    width: 24vh;
}

.name {
  font-family: "panel-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 216px);
  padding: 2vh;
  height: 100vh;
  border: 0;
  
}
.grid-item {
  border: 0px solid #ccc;
  padding: 2vh;
  width: 100%;
  height: 100%;
}

.grid-item-inquiry {
  position: relative;
  padding-top: 2vh;
  top: -10vh;
  left: 1.3vw;
  margin-right: 3vh;
 
}

.grid-item-aboutme {
  position: relative;
  top: -3vh;
  width: 3vh;
  margin-top: -6vh;
  margin-right: 2vh;
}

.grid-item-archivalworks {
  position: relative;
  top: -1vh;
  margin-top: -6vh;
  margin-right: 2vh;
}

#righttext {
  width: 176px;
  transform: rotate(90deg);
  margin-right: 3vh;
  margin-top: -6vh;
}


@media only screen and (max-width: 800px) {
.name {
  position: relative;
  margin-top: 30vh;
  margin-left: -29vh;
}

#righttext {
margin-left: -10vh;
}

.grid-item-archivalworks {
  padding-top: 2vh;
  }
  .grid-item-aboutme {
    padding-top: 2vh;
    }
}
