 @import url("https://use.typekit.net/pzl5wxf.css");


@font-face {
    font-family: 'DotFont';
    src: url(/HALFTONEANIMATION/assets/Dot.ttf) format('truetype');
}

@font-face {
    font-family: 'DotSpot';
    src: url(/assets/DotSpot-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'LedLight';
    src: url(/HALFTONEANIMATION/assets/LEDLIGHT.otf) format('otf');
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100%;
    background-color: #000; /* Background color to match your design */
    filter: blur(0px); /* Initially no blur */
    transition: filter 0.3s ease; /* Smooth transition when changing */
    font-family: "JetBrains Mono",monospace;
}

.container {
  transform: translateX(-50%);
    margin: 0;

}

a {
    text-decoration-line: none;
    color: #282828;
}

.description {
    cursor: default;
    border: #000;
    padding: 2px;
    font-family: "JetBrains Mono",monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    position: absolute;
    color: #282828;
    top: 20px; /* Adjust this value to control the distance from the top */
    z-index: 10; /* Ensure the description is above the video */

}

.description:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: color 0.4s ease-in-out;
}

.text {
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    color:  #000000;
    font-family: 'LedLight';
    font-size: 80px;
    text-align: center;
    cursor: default;
  }

  .text:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: color 0.4s ease-in-out;
  }

  .remindtext {
    position: relative;
            color: #000;
            font-family: "cofo-sans-pixel", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            text-align: center; /* Center the text horizontally */
            width: 30%;
            left: 50%;
            transform: translateX(-50%) ;
            animation: reveal 12s linear forwards;
        }
          

.video-wrapper {
    position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
    filter: saturate(0) brightness(2) contrast(5);
    -webkit-filter: saturate(0) brightness(2) contrast(5);
  }
  
  .video-wrapper::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-size: 15px 12px, 15px 12px;
    background-position: 0, 7px 0px;
    background-image: radial-gradient(circle, #282828, rgba(255, 255, 255, 0) 80%), radial-gradient(circle, #282828, rgba(255, 255, 255, 0) 80%);
    mix-blend-mode: multiply;
  }
  
  .video-wrapper video {
     width: 100vw;
     height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
     min-height: 100vh;
     min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
  }
  
  .video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ff0000;
    mix-blend-mode: multiply;
  }


/* CSS */
.button-visualiser {
align-items: center;
appearance: none;
background-color: #FCFCFD;
border-radius: 4px;
border-width: 0;
box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
box-sizing: border-box;
color: #36395A;
cursor: pointer;
display: inline-flex;
font-family: "JetBrains Mono",monospace;
height: 48px;
justify-content: center;
line-height: 1;
list-style: none;
overflow: hidden;
padding-left: 16px;
padding-right: 16px;
text-align: left;
text-decoration: none;
transition: box-shadow .15s,transform .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
will-change: box-shadow,transform;
font-size: 18px;
}

.button-visualiser:focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-visualiser:hover {
box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-2px);
}

.button-visualiser:active {
box-shadow: #D6D6E7 0 3px 7px inset;
transform: translateY(2px);
}

.hidden::after {
  content: ''; /* Ensure the pseudo-element remains functional */
  display: none; /* Hides the pseudo-element */
}
.pomodoro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;  
  padding-top: 15px;
  padding-bottom: 25px;  
}

p {
  text-align: center;
  padding: 5px;
}

.flip-clock-wrapper{
  max-width: 460px;
  margin: 3em auto 2em;
  display: flex;
  justify-content: center;
}
.col-md-4{
  display: flex;
  justify-content: center;
}
.col-md-2{
  display: flex;
  justify-content: center;
  height: 34px;
  align-items: center;
}
.counter{
  display: flex;
  justify-content: center;
}
.clock{
  margin-top: 30px;
}
.timercontainer {
  width: 500px;
}
.middle{
    display:inline-block;
}

#stop {
  margin-left: 10px;
  margin-right: 10px;
}
.btn {
  background-color: #333333;
  color: #CCCCCC;
}

#btns {
  display: flex;
  justify-content: space-between;
}
#sessInc, #sessDec, #breakInc, #breakDec {  
  font-weight: bold;
}
#stats {
  background-color: #333333;
  width: 220px;
  height: 60px;  
  border-radius: 10px;
  color: #CCCCCC;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#statRow {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#session {
  padding: 10px;
}

#break {
  padding: 10px;
}

@keyframes reveal {
    0% {
       opacity: 0;
    }
    100% {
       opacity: 1;
    }
}

@keyframes gradualBlur {
  0% {
      filter: blur(0px); /* No blur at the start */
  }
  100% {
      filter: blur(10px); /* Full blur at the end (adjust this value as needed) */
  }
}