

@import url("https://use.typekit.net/pzl5wxf.css");
@import url("https://use.typekit.net/pzl5wxf.css");

body {
    background-color: #f0ebe0;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url(backgroundtexture.jpeg);
    background-size: cover;
    height: 1050px;
    
}

p {
  font-family: "panel-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin: 0;
}

a {
  cursor: pointer;
  color: black;
  text-decoration-line: none;
  font-family: "chandler-42-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}


a:hover {
  font-weight: 800;
}


.biblio {
    margin: 1vh;
    margin-bottom: 2vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 216px);
  padding: 2vh;
  height: 100vh;
  border: 0;
  
}
.grid-item {
  border: 0px solid #ccc;
  padding: 2vh;
  width: 100%;
  height: 100%;
}

.grid-item-inquiry {
  position: relative;
  top: -10vh;
  left: 1.3vw;
 
}

.grid-item-aboutme {
  position: relative;
  top: -3vh;
  margin-right: 2vh;
}

.grid-item-archivalworks {
  position: relative;
  top: -1vh;
  
  margin-right: 2vh;
}

#righttext {
  padding-right: -40px;
  width: 176px;
  transform: rotate(90deg);
}

#red {
  cursor: pointer;
  color: #b30000;
  opacity: 1;
  transition: opacity 0.5s ease; 
  font-family: "chandler-42-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin: 0;
}

.reveal {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
.name {
  opacity: 0;
}
}