

@import url("https://use.typekit.net/pzl5wxf.css");
@import url("https://use.typekit.net/pzl5wxf.css");

body {
    background-color: #f0ebe0;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url(backgroundtexture.jpeg);
    background-size: cover;
    height: auto;
    
}

p {
  font-family: "panel-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin: 0;
}

a {
  z-index: 1000;
  cursor: pointer;
  color: black;
  text-decoration-line: none;
  font-family: "chandler-42-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}


a:hover {
  font-weight: 800;
}

.content {
    margin: 1vh;
    margin-bottom: 2vh;
}

.grid-item.list {
  width: 200px;
  height: auto;
  padding-top: 1vh;
}

.list {
  position: absolute;
  left: 200px;
  font-family: "panel-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
}

button {
  z-index: 200;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
  text-decoration-line: none;
  font-family: "chandler-42-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: start;
}

button:hover {
  font-weight: 800;
}

.hover-button:hover ~ .name {
 opacity: 0;
}

.first {
  opacity: 0;
}

.maps {
  opacity: 0;
}

.visible {
  opacity: 1;
}

/* Reveal .first elements when .dailythetable button is hovered */
.dailythetable:hover ~ .first {
  opacity: 1;
}


#firstimg {
  position: absolute;
  left: 0;
  width: 20vw;
  margin-left: 440px;
}

#ordinaryimg1 {
  z-index: 1000;
  position: absolute;
  top: 50px;
  margin-left: 200px;
  width: 20vw;

}

#firstimg1 {
  position: absolute;
  left: 0;
  top: 25vh;
  width: 50%;
  margin-left: 430px;

}

#mapsimg {
  position: absolute;
  top: 9vh;
  left: 10vw;
  width: 25%;
  margin-left: 430px;

}

#ordinaryimg {
  position: absolute;
  left: 0;
  top: 25vh;
  width: 38%;
  margin-left: 430px;

}

.firstdate {
  color: #E6725B;
  margin-left: 3vh;
  text-align: right;
  font-family: "panel-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin: 0;
}

.mapdate {
  color: #7e7663;
  margin-left: 3vh;
  text-align: right;
  font-family: "panel-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin: 0;
}

.ordinarydate {
  color: #7e7663;
  margin-left: 3vh;
  text-align: right;
  font-family: "panel-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin: 0;
}

.firstcaption {
  position: absolute;
  margin-top: 2%;
  max-width: 25vw;
  max-height: 10px;
  margin-left: -100px;
  color: #E6725B;
  font-family: "panel-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
   word-break: break-word; /* Break long words */
  overflow-wrap: break-word; /* Break long words */
}

.mapcaption {
  position: absolute;
  margin-top: 3%;
  max-width: 25vw;
  max-height: 10px;
  margin-left: -100px;
  color: #7e7663;
  font-family: "panel-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
   word-break: break-word; /* Break long words */
  overflow-wrap: break-word; /* Break long words */
}

.ordinarycaption {
  position: absolute;
  margin-top: 3%;
  max-width: 35vw;
  max-height: 10px;
  margin-left: -100px;
  color: #7e7663;
  font-family: "panel-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
   word-break: break-word; /* Break long words */
  overflow-wrap: break-word; /* Break long words */
}

.firstURL {
  position: absolute;
  max-width: 20vw;
  max-height: 100px;
  margin-top: 45%;
  margin-left: 60%;
  word-break: break-word; /* Break long words */
  overflow-wrap: break-word; /* Break long words */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 216px);
  padding: 2vh;
  width: 100%;
  height: 100vh;
  border: 0;
  
}
.grid-item {
  z-index: -100;
  border: 0px solid #ccc;
  padding: 2vh;
  width: 100%;
  height: 100%;
}

.grid-item-inquiry {
  position: relative;
  top: -10vh;
  /* left: 1.3vw; */
 
}

.grid-item-aboutme {
  position: relative;
  top: -3vh;
  margin-right: 2vh;
}

.grid-item-archivalworks {
  position: relative;
  top: -1vh;
  
  margin-right: 2vh;
}

#righttext {
position: relative;
  width: 176px;
  transform: rotate(90deg);
}

#red {
  cursor: pointer;
  color: #b30000;
  opacity: 1;
  transition: opacity 0.5s ease; 
  font-family: "chandler-42-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin: 0;
}

.reveal {
  opacity: 1;
}



@media screen and (max-width: 1000px) {
  .firstdate {
      position: relative; /* or fixed, depending on your layout needs */
      top: 60px;
      left: 0; /* Adjust as needed to ensure it stays in the correct position */
      margin-left: 50px;
      margin-right: auto;
      text-align: center; /* Center text if needed */
  }
}

@media only screen and (max-width: 800px) {
.name {
  opacity: 0;
}
}

